<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Artista</title>
</head>

<body>
    {% include '../components/toolbar.html' %}

    <div class="container" style="padding-top: 80px; position: relative;">
        <div class="alert alert-success text-center">

            <img src="{{ artista.imagen.url }}" alt="foto">

            <h1>Artista: {{ artista }}</h1>

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cerrar sesión</button>
            </form>

        </div>
        
        <aside class="contact-sidebar">
            <div class="contact-card">
                <h3>Número Contacto</h3>
                <p>{{ artista.ncontacto }}</p>
                <h3>Correo</h3>
                <p>{{ artista.correo }}</p>
            </div>
        </aside>

        <section id="about" class="about-section">
            <div class="about-content">
                <h2>Acerca</h2>
                <p> {{ artista.usuario }} - {{ artista.acerca }}</p>
            </div>
        </section>

        <br><br>


        <h2>Obras</h2>
        <table class="table table-light table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="row">Nombre</th>
                    <th scope="row">Descripcion</th>
                    <th scope="row">Imagen</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for o in obras %}
                <tr>
                    <td>{{ o.nombre }}</td>
                    <td>{{ o.descripcion }}</td>
                    <td>
                        <img class="img-thumbnail" width="100" src="{{ o.imagen.url }}" alt="{{ o.nombre }}">
                    </td>
                    <td>
                        <form method="POST" action="{% url 'agregarObra' %}">
                            {% csrf_token %}
                            <button >
                                Agregar
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Productos</h2>
        <table class="table table-light table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="row">Nombre</th>
                    <th scope="row">Descripcion</th>
                    <th scope="row">Precio</th>
                    <th scope="row">Imagen</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for p in productos %}
                <tr>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.precio }}$</td>
                    <td>
                        <img class="img-thumbnail" width="100" src="{{ p.imagen.url }}" alt="{{ p.nombre }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
