<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Artista-{{ artista }}</title>
</head>

<body>
    <header>{% include '../../components/toolbar.html' %}</header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="sidebar-sticky">
                    <div class="profile-pic">
                        <img src="{{ artista.imagen.url }}" alt="Profile Picture" class="rounded-circle">
                    </div>
                    <h2 class="profile-name">{{ artista }}</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link{% if 'perfil' in request.path %} active{% endif %}" href="{% if not es_mi_perfil %}{% url 'perfil' artista.id %}{% else %}{% url 'perfil' %}{% endif %}" style="color: black;">
                                <i class="bi bi-person"></i> Acerca de mi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if 'obras' in request.path %} active{% endif %}" href="{% if not es_mi_perfil %}{% url 'mostrarObras' artista.id %}{% else %}{% url 'mostrarObras' %}{% endif %}" style="color: black;">
                                <i class="bi bi-star"></i> Obras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if 'productos' in request.path %} active{% endif %}" href="{% if not es_mi_perfil %}{% url 'mostrarProductos' artista.id %}{% else %}{% url 'mostrarProductos' %}{% endif %}" style="color: black;">
                                <i class="bi bi-grid-3x3-gap"></i> Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#calendario" style="color: black;">
                                <i class="bi bi-calendar"></i> Eventos
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="alert alert-success text-center">
                    <img src="{{ artista.imagen.url }}" alt="foto" class="img-fluid">
                    <h1>Artista: {{ artista }}</h1>
                </div>

                <section id="about" class="about-section container">
                    <h2 class="acerca-title">Acerca</h2>
                    <div class="row">
                        <div class="col-md-12 about-content">
                            <div class="acerca-description">
                                <p>{{ artista.usuario }} - {{ artista.acerca }}</p>
                            </div>
                        </div>
                    </div>
                </section>

                <br>
            </main>
        </div>
    </div>
    <div class="contact-overlay">
        <button class="contact-toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContact"
            aria-expanded="false" aria-controls="collapseContact">
            <span class="arrow"><</span> Contacto
        </button>
        <div id="collapseContact" class="collapse" aria-labelledby="headingContact">
            <div class="contact-box" style="font-size: 10px;">
                <p><strong>Correo</strong>: <a href="{{ artista.correo }}"> {{ artista.correo }} </a></p>
                <p><strong>Número Contacto</strong></p>
                <p>{{ artista.ncontacto }}</p>
            </div>
        </div>
    </div>

    <footer>{% include '../../components/footer.html' %}</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>