<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/producto.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Productos de {{ artista }}</title>
</head>

<body>
    <header>{% include '../../components/toolbar.html' %}</header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="sidebar-sticky">
                    <div class="profile-pic">
                        <img src="{{ artista.imagen.url }}" alt="Profile Picture" class="rounded-circle">
                    </div>
                    <h2 class="profile-name">{{ artista }}</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'perfil' artista.id %}" style="color: black;">
                                <i class="bi bi-person"></i> Acerca de mi
                            </a>
                        </li>
                        {% if artista.plan != 'basico' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% if not es_mi_perfil %}{% url 'mostrarObras' artista.id %}{% else %}{% url 'mostrarObras' %}{% endif %}" style="color: black;">
                                <i class="bi bi-star"></i> Obras
                            </a>
                        </li>
                        {% if artista.plan != 'plan1' %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% if not es_mi_perfil %}{% url 'mostrarProductos' artista.id %}{% else %}{% url 'mostrarProductos' %}{% endif %}">
                                <i class="bi bi-grid-3x3-gap"></i> Productos
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% if not es_mi_perfil %}{% url 'mostrarEventos' artista.id %}{% else %}{% url 'mostrarEventos' %}{% endif %}" style="color: black;">
                                <i class="bi bi-calendar"></i> Eventos
                            </a>
                        </li>
                        {% if es_mi_perfil %}
                        <li class="nav-item">
                            <a class="nav-link{% if 'configuracion' in request.path %} active{% endif %}" href="{% url 'configuracion' %}" style="color: black;">
                                <i class="bi bi-gear"></i> Configuración
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <section id="productos">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2 class="section-title">Productos</h2>
                        {% if es_mi_perfil %}
                        {% if artista.plan == 'plan2' and productos.count < 1 %}
                            <div class="add-producto">
                                <form method="POST" action="{% url 'agregarProducto' %}">
                                    {% csrf_token %}
                                    <button class="btn btn-add">➕ Agregar Producto</button>
                                </form>
                            </div>
                        {% elif artista.plan == 'plan3' and productos.count < 5 %}
                            <div class="add-producto">
                                <form method="POST" action="{% url 'agregarProducto' %}">
                                    {% csrf_token %}
                                    <button class="btn btn-add">➕ Agregar Producto</button>
                                </form>
                            </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="gallery">
                        {% for p in productos %}
                            {% if es_mi_perfil or p.verificacion == 'ACEPTADO' %}
                            <div class="gallery-item">
                                <div class="gallery-image">
                                    <img src="{{ p.imagen.url }}" class="img-fluid" alt="{{ p.nombre }}">
                                    <div class="overlay">
                                        <div class="text">
                                            <h5 class="gallery-title">{{ p.nombre }}</h5>
                                            <p class="gallery-text">{{ p.descripcion }}</p>
                                            <p class="gallery-price"><strong>{{ p.precio }}$</strong></p>
                                            {% if es_mi_perfil %}
                                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ p.id }}">Editar</button>
                                            <button class="btn btn-sm btn-danger" onclick="confirmarBorrar('{{ p.id }}')">Eliminar</button>
                                            {% endif %}
                                            <a href="{% url 'producto_detail' p.id %}" class="btn btn-sm btn-warning">Ver</a>
                                            {% if es_mi_perfil %}
                                            <p class="gallery-status">
                                                {% if p.verificacion == 'ACEPTADO' %}           
                                                    <span class="badge bg-success">Aceptado</span>
                                                {% elif p.verificacion == 'EN_ESPERA' %}
                                                    <span class="badge bg-warning text-dark">En Espera</span>
                                                {% else %}
                                                    <span class="badge bg-danger">Rechazado</span>
                                                {% endif %}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% empty %}
                        <div class="alert alert-warning text-center">No se encontraron productos.</div>
                        {% endfor %}
                    </div>
                </section>
                <br>
            </main>
        </div>
    </div>

    {% for p in productos %}
    <div class="modal fade" id="editModal{{ p.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ p.id }}"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel{{ p.id }}">Editar {{p.nombre}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{% url 'editarProducto' p.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombre{{ p.id }}" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre{{ p.id }}" name="nombre" value="{{ p.nombre }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion{{ p.id }}" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion{{ p.id }}" name="descripcion" required>{{ p.descripcion }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="precio{{ p.id }}" class="form-label">Precio</label>
                            <input type="number" step="0.01" class="form-control" id="precio{{ p.id }}" name="precio" value="{{ p.precio }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" class="form-control" id="stock" name="stock" value="{{p.stock}}" required>
                        </div>
                        <div class="mb-3">
                            <div>
                                <img src="{{ p.imagen.url }}" alt="Imagen Actual del Producto" class="img-fluid mb-2" style="max-height: 150px;">
                                <p class="small text-muted">Imagen actual: {{ p.imagen.name }}</p>
                            </div>
                            <label for="imagen{{ p.id }}" class="form-label">Imagen</label>
                            <input type="file" class="form-control" id="imagen{{ p.id }}" name="imagen" accept="image/*">
                            <br>
                            <span class="badge bg-secondary">No Seleccionar Imagen Para Mantener la imagen actual</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% include '../../components/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function confirmarBorrar(productId) {
            if (confirm('¿Estás seguro de que deseas eliminar este producto?')) {
                window.location.href = "{% url 'eliminarProducto' %}?id=" + productId;
            }
        }
    </script>
</body>

</html>